.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--facebook
        a(href=#)
            span
                i.fab.fa-facebook 
            |Continue with Facebook_not working
    button.social-login--instagram
        a(href=#)
            span
                i.fab.fa-instagram
            |Continue with instagram_not working
    button.social-login--kakaotalk
        a(href=routes.kakaotalk)
            span
                i.fas.fa-comment
            |Continue with kakaoTalk